<!DOCTYPE HTML>

<html>

  <head>
    <title>caretPlumber</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html, body{
        height: 100%;
      }
      #header{
        height:85px ;
      }
      #main{
        height:calc(100% - 85px);
      }
      #main>.w3-container{
        height: 100%;
      }
      #left-panel>.w3-container{
        heigth: 100px;
      }
    </style>
  </head>

  <body ng-app = "caretPlumberApp" ng-controller = "caretPlumberCtrl">
    <div id="header" class="w3-container w3-dark-gray">
    </div>
    <div id="main" class="w3-row">
      <div id="left-panel" class="w3-container w3-half">
        <div class="w3-container">
          <h2><i class="fa fa-cogs"></i>Model summary</h2>
          <div>{{modelInfo.type[0]}}</div>
          <div>{{modelInfo.method[0]}}</div>
        </div>
        <div class="w3-container">
          <h2><i class="fa fa-line-chart"></i>Results</h2>
          <table class="w3-table">
            <tr>
              <th>Metric</th>
              <th>Value</th>
            </tr>
            <tr ng-repeat="metric in trainResults">
              <td>{{metric.Metric}}</td>
              <td>{{metric.Value}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="w3-container w3-rest">
        <h2><i class="fa fa-bars"></i>Input features</h2>
        <ul class="w3-ul">
          <li ng-repeat="(name, feature) in features">
            {{name}}
          </li>
        </ul>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script>
      angular.module("caretPlumberApp", [])
        .controller("caretPlumberCtrl", function($scope, $http){
          $http({method:'GET', url: '/modelInfo'}).then(function(response){
            $scope.modelInfo = response.data;
          });
          $http({method:'GET', url: '/features'}).then(function(response){
            $scope.features = response.data;
          });
          $http({method:'GET', url: '/trainResults'}).then(function(response){
            $scope.trainResults = response.data;
            console.log($scope.trainResults)
          });
        })
    </script>
  </body>
</html>
